body{
    background-color: rgb(46, 46, 46);
}
.form{
    background-color: rgb(224, 224, 224);
    margin: 20px auto;
    padding: 10px;
    width: 350px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
.form .input{
    background-color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    /* height: px; */
    width: 69%;
    color: rgb(63, 63, 63);
    padding: 7px;
    font-size: 13px;
}
.add{
    border: none;
    background-color: rgb(241, 64, 64);
    width: 25%;
    border-radius: 5px;
    /* height: 30px; */
    font-size: 13px;
    color: white;
}
.tasks{
    margin: 20px auto;
    background-color: rgb(224, 224, 224);
    border-radius: 5px;
    width: 350px;
    min-height: 50px;
    padding: 10px;
}
.task{
    border-radius: 5px;
    background-color: white;
    color: rgb(63, 63, 63);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    min-height: 20px;
    margin-bottom: 10px;
    
}
.delete{
    border: none;
    background-color: rgb(241, 64, 64);
    border-radius: 3px;
    font-size: 10px;
    padding: 5px;
    color: white;
    cursor: pointer;
}
.taskName{
    margin: 5px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    font-size: 13px;
}